/**
*          \|||/
*          (o o)
* ------ooO-(_)-Ooo------
*         CONTACT
*/

@import "_variables", "_mixins";

.Contact {
    max-width: 600px;
    text-align: center;

    &-wrapper {
        @include flex(flex, column, nowrap, center, center);
    }

    &-title {
        position: relative;
        margin: .5rem 0 2rem;
        width: 100%;
        @include clamp(26, 5, 32);
        white-space: nowrap;

        &::before {
            position: relative;
            counter-increment: item 1;
            content: "0" counter(item) ".";
            margin-right: .5rem;
            font-family: $tipo-secundario;
            color: $verde;
        }
    }

    &-overline {
        display: block;
        margin-bottom: 1rem;
        color: $verde;
        font-family: $tipo-secundario;
        @include font-size(16);

        &::before {
            bottom: 0;
            @include font-size(14);
        }
    }

    &-subtitle {
        @include clamp(32, 5, 40);
        margin: 0 0 .5rem;
        font-weight: 600;
        color: $gris-light;
        @include line-height(1.1);
    }

    &-text {
        margin: 0;
    }

    &-link {
        background-color: transparent;
        border: 1px solid $verde;
        border-radius: 4px;
        margin-top: 2.5rem;
        padding: 1.25rem 1.75rem;
        font-family: $tipo-secundario;
        @include font-size(14);
        @include line-height(1);
        text-decoration: none;
        color: $verde;
        cursor: pointer;
        transition: $transition;

        &:hover {
            background-color: $verde-1;
            outline: none;
        }
    }
}