/**
*          \|||/
*          (o o)
* ------ooO-(_)-Ooo------
*         FOOTER
*/

@import "_variables", "_mixins";

.Footer {
    height: auto;
    min-height: 70px;
    padding: .75rem;
    margin-top: 5rem;
    text-align: center;

    @include media() {
        margin-top: 2.5rem;
    }

    &-wrapper {
        @include flex(flex, column, nowrap, center, center);
    }

    //Footer-rrss
    &-rrss {
        display: none;

        &-ul {
            @include flex(flex, row, wrap, space-between, center);
            padding: 0;
            margin: 0;
            list-style: none;
        }

        &-a {
            padding: .5rem;
        }

        &-svg {
            width: 1.5rem;
            height: 1.5rem;
            fill: none;
        }

        @include media() {
            display: block;
            width: 100%;
            max-width: 200px;
            margin: 0 auto .5rem;
            color: $gris-med;
        }
    }

    //Footer-credit
    &-credit {
        color: $gris-med;
        font-family: $tipo-secundario;
        padding: .5rem;
        @include font-size(12);
        @include line-height(1);

        &-a:last-of-type {
            margin-top: .5rem;
        }
    }
}