/**
*          \|||/
*          (o o)
* ------ooO-(_)-Ooo------
*      GENERAL STYLE
*/

@import "_variables", "_mixins";

body {

    /**
    * Header-aside
    */
    &.blur {
        overflow: hidden;

        & .Main,
        & .Footer {
            filter: blur(5px) brightness(0.7);
            transition: $transition;
            pointer-events: none;
            user-select: none;
        }
    }

    /**
    * Sticky Header
    */
    &.scroll-down .Header {
        transform: translate3d(0, -100%, 0);
    }

    &.scroll-up .Header {
        transform: none;
    }

    &.scroll-up:not(.is-active) .Header {
        background: $azul-085;
        backdrop-filter: blur(10px);
        box-shadow: 0 0 .5rem rgba(0, 0, 0, .35);
    }

    @include media(480px) {
        @include font-size(18);
    }
}

.Main-section {
    padding: 5rem 0;
    margin: 0 auto;

    @include media() {
        padding: 4rem 0;
    }

    @include media(480px) {
        padding: 3rem 0;
    }
}

.wrapper {
    width: 90%;
    margin: auto;
}

.title-section {
    &-h2 {
        display: flex;
        align-items: center;
        position: relative;
        width: 100%;
        margin: .5rem 0 2rem;
        font-family: $tipo-secundario;
        font-weight: 600;
        color: $gris-light;
        white-space: nowrap;
        @include clamp(26, 5, 32);
        @include line-height(1.1);

        &::before {
            bottom: 4px;
            counter-increment: item 1;
            content: "0" counter(item) ".";
            margin-right: .5rem;
            color: $verde;
            font-family: $tipo-secundario;
            @include clamp(16, 3, 20);

            @include media(480px) {
                margin-bottom: -.15rem;
                margin-right: .25rem;
            }
        }

        &::after {
            content: "";
            display: block;
            top: -.25rem;
            width: 300px;
            height: 1px;
            margin-left: 1rem;
            background-color: $azul-med;

            @include media() {
                width: 100%;
                margin-left: .5rem;
            }

            @include media(1080px) {
                width: 200px;
            }
        }
    }
}