/**
*          \|||/
*          (o o)
* ------ooO-(_)-Ooo------
*      HEADER STYLE
*/

@import '_variables', '_mixins';

.Header {
    @include flex(flex, row, wrap, space-between, center);
    position: fixed;
    top: 0;
    z-index: 11;
    padding: 0 50px;
    width: 100%;
    height: 100px;
    background-color: $azul-085;
    backdrop-filter: blur(10px);
    transition: $transition;
    filter: none !important;
    pointer-events: auto !important;
    user-select: auto !important;

    @include media(1080px) {
        padding: 0 40px;
    }

    @include media() {
        padding: 0 25px;
        height: 70px;
    }

    &-wrapper {
        //nav
        @include flex(flex, row, nowrap, space-between, center);
        position: relative;
        width: 100%;
        color: $gris-light;
        font-family: $tipo-secundario;
        counter-reset: section 0;
        z-index: 12;
    }

    &-logo {
        @include flex(flex, row, nowrap, center, center);
    }

    &-icon {
        width: 84px;
        height: 84px;
    }

    &-svg {
        width: 100%;
        height: 100%;
        transition: $transition;
        user-select: none;
    }

    &-list {
        display: flex;
        align-items: center;

        @include media() {
            display: none;
        }
    }

    &-ol {
        @include flex(flex, row, nowrap, space-between, center);
        padding: 0;
        margin: 0;
        list-style: none;
    }

    &-li {
        margin: 0 5px;
        position: relative;
        counter-increment: section 1;
        font-size: 13px;
    }

    &-link {
        padding: 10px;

        &::before {
            content: "0" counter(section) ".";
            margin-right: 5px;
            color: $verde;
            font-size: 12px;
            text-align: right;
        }

        &:hover {
            color: $verde;
        }
    }

    &-btn {
        color: $verde;
        background-color: transparent;
        border: 1px solid $verde;
        border-radius: 4px;
        padding: 0.75rem 1rem;
        font-family: $tipo-secundario;
        line-height: 1em;
        text-decoration: none;
        cursor: pointer;
        transition: $transition;
        margin-left: 15px;
        font-size: 13px;

        &:hover {
            background-color: $verde-1;
            outline: none;
        }
    }

    &-mobile {
        display: none;

        @include media() {
            display: block;
        }
    }

    &-menu {
        display: none;

        @include media() {
            @include flex(flex, row, nowrap, center, center);
            position: relative;
            z-index: 10;
            margin-right: -15px;
            padding: 15px;
            border: 0px;
            background-color: transparent;
            color: inherit;
            text-transform: none;
            transition-timing-function: linear;
            transition-duration: 0.15s;
            transition-property: opacity, filter;
        }
    }

    &-aside {

        @include media() {
            @include flex(flex, row, nowrap, center, center);
            position: fixed;
            top: 0;
            bottom: 0;
            right: 0;
            padding: 50px 10px;
            width: min(75vw, 400px);
            height: 100vh;
            outline: 0;
            background-color: $azul-dark;
            box-shadow: $box-shadow;
            z-index: 9;
            transform: translateX(100vw);
            visibility: hidden;
            transition: $transition;

            &.aside-active {
                transform: translateX(0vw);
                visibility: visible;
            }
        }
    }

    &-nav-mobile {
        @include flex(flex, column, nowrap, space-between, center);
        width: 100%;
        color: $gris-light;
        font-family: $tipo-secundario;
        text-align: center;
    }

    &-ol-mobile {
        padding: 0;
        margin: 0;
        list-style: none;
        width: 100%;
    }

    &-li-mobile {
        position: relative;
        margin: 0 auto 20px;
        counter-increment: section 1;
        font-size: clamp(14px, 4vw, 18px);

        &::before {
            content: "0" counter(section) ".";
            display: block;
            margin-bottom: 5px;
            color: $verde;
            font-size: 14px;
        }
    }

    &-link-mobile {
        display: inline-block;
        text-decoration: none;
        text-decoration-skip-ink: auto;
        color: inherit;
        position: relative;
        transition: $transition;
        width: 100%;
        padding: 3px 20px 20px;
    }

    &-btn-mobile {
        color: $verde;
        background-color: transparent;
        border: 1px solid $verde;
        border-radius: 4px;
        font-size: 14px;
        font-family: $tipo-secundario;
        line-height: 1em;
        text-decoration: none;
        cursor: pointer;
        transition: $transition;
        padding: 18px 50px;
        margin: 10% auto 0;
        width: max-content;

        &:hover {
            background-color: $verde-1;
            outline: none;
        }
    }
}