/**
*          \|||/
*          (o o)
* ------ooO-(_)-Ooo------
*        HERO STYLE
*/

@import "_variables", '_mixins';

.Hero {
    max-width: 1000px;
    min-height: 80vh;
    @include flex(flex, column, nowrap, center, center);

    &-h1 {
        margin: 0 0 1.5rem 0.2rem;
        font-family: $tipo-secundario;
        @include clamp(11, 5, 13);
        line-height: 1.1em;
        color: $verde;
    }

    &-h2 {
        color: $gris-light;
    }

    &-h2,
    &-h3 {
        @include clamp(32, 8, 64);
        font-weight: 600;
        line-height: 1.1em;
    }

    &-p {
        max-width: 626px;
        margin: 1rem 0 0;
        font-weight: 400;
        @include font-size(20);
        line-height: 1.6em;
    }
}