@mixin flex($flex , $dir , $wrap , $just , $align ) {
    display: $flex;
    flex-flow: $dir $wrap;
    justify-content: $just;

    @if $wrap =='nowrap' {
        align-items: $align;
    }

    @else {
        align-content: $align;
    }
}

@mixin font-size($size) {
    $rem: $size / $fz-body;
    font-size: $rem * 1rem;
}

@mixin line-height($size) {
    line-height: $size * 1em;
}

@mixin clamp($max, $val, $min) {
    $Vmax: ($max / $fz-body) * 1rem;
    $VVal: $val * 1vw;
    $Vmin: ($min / $fz-body) * 1rem;

    font-size: clamp($Vmax, $VVal, $Vmin);
}

@mixin media($medida: 784px) {
    @media screen and (max-width:$medida) {
        @content
    }
}