/**
*          \|||/
*          (o o)
* ------ooO-(_)-Ooo------
*  OTHERS PROJECTS STYLE
*/

@import "_variables", '_mixins';

.Other {
    margin: 0 auto;
    padding: 100px 0;
    max-width: 1000px;
    display: flex;
    flex-direction: column;
    align-items: center;

    @include media() {
        padding: 80px 0;
    }

    @include media(480px) {
        padding: 60px 0;
    }

    &-title-h2 {
        font-size: clamp(24px, 5vw, 32px);
        margin: 0px 0px 10px;
        font-weight: 600;
        color: $gris-light;
        line-height: 1.1em;
        text-align: center;
    }

    &-link {
        font-family: $tipo-secundario;
        font-size: 14px;
        color: $verde;
        text-align: center;
    }

    &-grid {
        list-style: none;
        padding: 0;
        margin: 50px 0 0;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
        gap: 15px;
        position: relative;

        @include media(1080px) {
            grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
        }
    }

    &-inner {
        box-shadow: $box-shadow;
        @include flex(flex, column, nowrap, space-between, flex-start);
        position: relative;
        height: 100%;
        padding: 2rem 1.75rem;
        border-radius: 4px;
        background-color: $azul-dark;
        transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
        overflow: auto;

        &:hover {
            transform: translateY(-7px);
            box-shadow: $box-shadow;
        }
    }

    &-top {
        @include flex(flex, row, nowrap, space-between, center);
        margin-bottom: 35px;
    }

    &-folder {
        color: $verde;
    }

    &-svg {
        width: 40px;
        height: 40px;
        fill: none;
        vertical-align: middle;
    }

    &-links {
        display: flex;
        align-items: center;
        margin-right: -10px;
        color: $gris-med;
    }

    &-external {
        @include flex(flex, row, nowrap, center, center);
        padding: 5px 7px;
        position: relative;
        z-index: 1;

        &:hover {
            color: $verde;
        }

        &-svg {
            width: 20px;
            height: 20px;
            fill: none;
            vertical-align: middle;
        }
    }

    &-title-h3 {
        margin: 0 0 10px;
        color: $gris-light;
        font-size: 22px;
        line-height: 1.2em;
        font-weight: 600;
    }

    &-title-a {
        position: static;
        z-index: 1;

        &:hover {
            color: $verde;
        }
    }

    &-description {
        color: $gris-med;
        font-size: 17px;

        &-p:last-of-type {
            margin: 0;
        }
    }

    &-tech-list {
        display: flex;
        align-items: flex-end;
        flex-grow: 1;
        flex-wrap: wrap;
        padding: 0;
        margin: 20px 0 0;
        list-style: none;

        &-item {
            font-family: $tipo-secundario;
            font-size: 12px;
            line-height: 1.75em;

            &:not(:last-of-type) {
                margin-right: 15px;
            }
        }
    }

    &-more {
        color: $verde;
        background-color: transparent;
        border: 1px solid $verde;
        border-radius: 4px;
        font-size: 13px;
        font-family: $tipo-secundario;
        line-height: 1em;
        text-decoration: none;
        cursor: pointer;
        transition: all .25s cubic-bezier(0.645, 0.045, 0.355, 1);
        padding: 1.25rem 1.75rem;
        margin: 80px auto 0;

        &:hover {
            background-color: $verde-1;
            outline: none;
        }
    }

    &-showmore {
        display: none;
    }

    &-active {
        display: block;
    }
}