/**
*          \|||/
*          (o o)
* ------ooO-(_)-Ooo------
*     PROJECTS STYLE
*/

@import "_variables", '_mixins';

.Projects {
    max-width: 1000px;

    &-list {
        list-style: none;
        padding: 0;
        margin: 0;
    }

    &-individual {
        position: relative;
        display: grid;
        gap: 10px;
        grid-template-columns: repeat(12, 1fr);
        align-items: center;

        @include media() {
            box-shadow: $box-shadow;
        }

        &:not(:last-of-type) {
            margin-bottom: 5rem;

            @include media() {
                margin-bottom: 3.5rem;
            }

            @include media(480px) {
                margin-bottom: 1.5rem;
            }
        }

        &:nth-of-type(2n+1) .Projects-content {
            grid-column: 7/-1;
            text-align: right;

            @include media(1080px) {
                grid-column: 5/-1;
            }

            @include media() {
                grid-column: 1/-1;
                padding: 2rem 2rem 1.5rem;
                text-align: left;
            }

            @include media(480px) {
                padding: 1.25rem 1.25rem 1rem;
            }
        }

        &:nth-of-type(2n+1) .Projects-tech-list {
            justify-content: flex-end;

            @include media() {
                justify-content: flex-start;
            }
        }

        &:nth-of-type(2n+1) .Projects-tech-list li {
            margin: 0 0 .25rem 1rem;

            @include media() {
                margin: 0 .5rem .25rem 0;
            }
        }

        &:nth-of-type(2n+1) .Projects-links {
            justify-content: flex-end;
            margin-left: 0;
            margin-right: -0.5rem;

            @include media() {
                justify-content: flex-start;
                margin-left: -0.5rem;
                margin-right: 0;
            }
        }

        &:nth-of-type(2n+1) .Projects-image {
            grid-column: 1/8;

            @include media() {
                grid-column: 1/-1;
            }
        }
    }

    &-content {
        position: relative;
        grid-area: 1/1/-1/7;

        @include media(1080px) {
            grid-column: 1/9;
        }

        @include media() {
            display: flex;
            flex-direction: column;
            justify-content: center;
            height: 100%;
            grid-column: 1/-1;
            padding: 2rem 2rem 1.5rem;
            z-index: 5;
        }
    }

    &-overline {
        margin: .5rem 0;
        color: $verde;
        font-family: $tipo-secundario;
        @include font-size(13);
    }

    &-title {
        color: $gris-light;
        @include clamp(24, 5, 28);
        font-weight: 600;
        @include line-height(1.1);
        margin: 0 0 1rem;

        @include media() {
            color: $blanco;
            margin: 0 0 .5rem;
        }

        &-link {
            position: relative;
            z-index: 1;
        }
    }

    &-description {
        box-shadow: $box-shadow;
        position: relative;
        z-index: 2;
        padding: 1.25rem;
        border-radius: 4px;
        background-color: $azul-dark;
        color: $gris-med;
        @include font-size(16);

        @include media() {
            padding: 1rem 0;
            background-color: transparent;
            box-shadow: none;
        }

        &-text:last-of-type {
            margin: 0;
        }
    }

    &-tech-list {
        display: flex;
        flex-wrap: wrap;
        position: relative;
        z-index: 2;
        margin: 1.25rem 0 .5rem;
        padding: 0;
        list-style: none;

        @include media() {
            margin: .5rem 0;
        }

        &-item {
            color: $gris-med;
            font-family: $tipo-secundario;
            margin: 0 1rem .25rem 0;
            @include font-size(13);
            white-space: nowrap;

            @include media() {
                color: $gris-light;
                margin: 0 .5rem .25rem 0;
            }
        }
    }

    &-links {
        display: flex;
        align-items: center;
        position: relative;
        margin-top: .5rem;
        margin-left: -0.5rem;
        color: $gris-light;

        &-link {
            @include flex(flex, row, nowrap, center, center);
            padding: .5rem;
            position: relative;
            z-index: 1;

            &:hover {
                color: $verde;
            }
        }

        &-svg {
            width: 1rem;
            height: 1rem;
            fill: none;
            vertical-align: middle;
        }
    }

    &-image {
        box-shadow: $box-shadow;
        grid-area: 1/6/-1/-1;
        position: relative;
        z-index: 1;

        @include media() {
            grid-column: 1/-1;
            height: 100%;
            opacity: .25;
        }
    }

    &-image-link {
        width: 100%;
        height: 100%;
        position: relative;
        background-color: $verde;
        border-radius: 4px;
        vertical-align: middle;
    }

    &-picture {
        width: 100%;
        position: relative;
        border-radius: 4px;
        background-color: $verde;
        vertical-align: middle;

        @include media() {
            background-color: $azul;
            height: inherit;
        }
    }

    &-img {
        width: 100%;
        max-width: 100%;
        position: relative;
        border-radius: 4px;
        mix-blend-mode: multiply;
        filter: grayscale(100%) contrast(1);

        @include media() {
            object-fit: cover;
            width: auto;
            height: 100%;
            filter: grayscale(100%) contrast(1) brightness(50%);
            mix-blend-mode: screen;
        }

        &:hover {
            mix-blend-mode: normal;
            filter: none;
        }
    }
}