/**
*          \|||/
*          (o o)
* ------ooO-(_)-Ooo------
*         SIDEBAR
*/

@import "_variables", "_mixins";

.Sidebar {
    @include media() {
        display: none;
    }

    &-wrapper {
        @include flex(flex, column, nowrap, center, center);
    }

    &-rrss,
    &-email {
        width: 2rem;
        position: fixed;
        bottom: 0;
        z-index: 12;
        color: $gris-med;

        // @include media(950px) {
        //     left: -0.25rem;
        // }
    }

    &-rrss {
        left: 2rem;
        right: auto;

        @include media(1080px) {
            left: .25rem;
            right: auto;
        }
    }

    &-email {
        left: auto;
        right: 2rem;

        @include media(1080px) {
            left: auto;
            right: .25rem;
        }
    }

    &-ul {
        margin: 0;
        padding: 0;
        list-style: none;
    }

    &-ul::after {
        content: "";
        display: block;
        width: 0.05rem;
        height: 10rem;
        margin: 0 auto;
        background-color: $gris-med;
    }

    &-li {
        padding: 0.5rem;
    }

    &-li:last-of-type {
        margin-bottom: 1rem;
    }

    &-a {
        margin: 1rem auto;
        font-family: $tipo-secundario;
        @include font-size(12);
        @include line-height(1.1);
        letter-spacing: .1em;
        writing-mode: vertical-rl;
    }

    &-a:hover {
        transform: translateY(-0.15rem);
        color: $verde;
    }

    &-svg {
        width: 1.25rem;
        height: 1.25rem;
        fill: none;
        vertical-align: middle;
    }
}