//          \|||/
//          (o o)
// ------ooO-(_)-Ooo------
//        VARIABLES

// TIPOGRAFIA
$tipo-principal: 'Inter', sans-serif;
$tipo-secundario: 'Roboto Mono', monospace;


// PALETA COLOR
// Iconos RRSS, email, border-botton
$gris-med: #A8B2D1;

// titular, h1, h2, h3
$gris-light: #CCD6F6;

// texto
$gris-dark: #8892B0;

// background tarjetas descripción proyecto
$azul-dark: #112240;

// Hover button jobs
$azul-med: #233554;

// Body
$azul: #0a192f;

// Header
$azul-085: rgba($azul, .85);

// Color Coorporativo
$verde: #64ffda;

// Hover button
$verde-1: rgba($verde, .1);

// Box-Shadow
$box-shadow: 0 10px 30px -15px rgba(2, 13, 28, .7);

// Color base
$blanco: #ececec;
$negro: #181818;

//transition
$transition: all .25s cubic-bezier(0.645, 0.045, 0.355, 1);