/**
 * 
 * *´¨) 
 *¸.•´¸.•*´¨) ¸.•*¨) 
 *(¸.•´ (¸.•` ¤ Content: 
 *                  1. Reset
 *                  2. Variables
 *                  3. Mixins
 *                  4. General
 *                  5. Sidebar
 *                  6. Header
 *                  7. About
 *                  8. Experience
 *                  9. Projects
 *                  10. Others Projects
 *                  11. Contact
 *                  12. Footer
 *                                              oooO
 *                                             (....)     Oooo
 *                                               ...(     (....)
 *                                                ._)      )../
 *                                                         (_/
 *                                            Solo pasaba por aquí
 *                                                  ¡Saludos!
 */

@import "_reset";
@import "_variables";
@import "_mixins";
@import "_general";
@import "_sidebar";
@import "_header";
@import "_hero";
@import "_about";
@import "_experience";
@import "_projects";
@import "_other";
@import "_contact";
@import "_footer";

/*Section Contact*/
.Contact {
    max-width: 600px;
    margin: 0 auto 100px;
    padding: 100px 0;
    text-align: center;

    @include media() {
        margin: 0 auto 50px;
        padding: 80px 0;
    }

    @include media(480px) {
        padding: 60px 0;
    }

    &-wrapper {
        @include flex(flex, column, nowrap, center, center);
    }

    &-title {
        // display: flex;
        // align-items: center;
        position: relative;
        margin: 10px 0 40px;
        width: 100%;
        font-size: clamp(26px, 5vw, 32px);
        white-space: nowrap;

        &::before {
            position: relative;
            counter-increment: item 1;
            content: "0" counter(item) ".";
            margin-right: 10px;
            color: var(--verde);
            font-family: var(--tipo-secundario);
            font-weight: 400;
            box-sizing: inherit;
        }
    }

    &-overline {
        display: block;
        margin-bottom: 20px;
        color: var(--verde);
        font-family: var(--tipo-secundario);
        font-size: 16px;
        font-weight: 400;

        &::before {
            bottom: 0;
            font-size: 14px;
            box-sizing: inherit;
        }
    }

    &-subtitle {
        //h2
        font-size: clamp(40px, 5vw, 60px);
        margin: 0 0 10px;
        font-weight: 600;
        color: var(--gris-light);
        line-height: 1.1em;
    }

    &-text {
        //p
        margin: 0;
    }

    &-link {
        color: var(--verde);
        background-color: transparent;
        border: 1px solid var(--verde);
        border-radius: 4px;
        padding: 1.25rem 1.75rem;
        font-size: 14px;
        font-family: var(--tipo-secundario);
        line-height: 1em;
        text-decoration: none;
        cursor: pointer;
        transition: all .25s cubic-bezier(0.645, 0.045, 0.355, 1);
        margin-top: 50px;

        &:hover {
            background-color: var(--verde-1);
            outline: none;
        }
    }
}

/*Footer*/
.Footer {
    height: auto;
    min-height: 70px;
    padding: 15px;
    text-align: center;

    &-wrapper {
        @include flex(flex, column, nowrap, center, center);
    }

    /*Footer-rrss*/
    &-rrss {
        display: none;

        &-ul {
            @include flex(flex, row, wrap, space-between, center);
            padding: 0;
            margin: 0;
            list-style: none;
        }

        &-a {
            padding: 10px;
        }

        &-svg {
            width: 20px;
            height: 20px;
            fill: none;
        }

        @include media() {
            display: block;
            width: 100%;
            max-width: 200px;
            margin: 0 auto 10px;
            color: var(--gris-med);
        }
    }

    /*Footer-credit*/
    &-credit {
        color: var(--gris-med);
        font-family: var(--tipo-secundario);
        font-size: 12px;
        line-height: 1em;
        padding: 10px;

        &-a:last-of-type {
            margin-top: 10px;
        }
    }
}

/*Sidebar*/
.Sidebar {
    &-wrapper {
        @include flex(flex, column, nowrap, center, center);
    }

    @include media() {
        display: none;
    }

    /*Sidebar-rrss*/
    &-rrss {
        width: 40px;
        position: fixed;
        bottom: 0;
        left: 66px;
        right: auto;
        z-index: 12;
        color: var(--gris-med);

        &-ul {
            margin: 0;
            padding: 0;
            list-style: none;
        }

        &-ul::after {
            content: "";
            display: block;
            width: 1px;
            height: 90px;
            margin: 0 auto;
            background-color: var(--gris-med);
        }

        &-li {
            padding: 10px;
        }

        &-li:last-of-type {
            margin-bottom: 20px;
        }

        &-svg {
            width: 20px;
            height: 20px;
            fill: none;
            vertical-align: middle;
        }

        &-a:hover {
            transform: translateY(-3px);
            color: var(--verde);
        }

        @include media(1200px) {
            left: 0px;
        }
    }

    /*Sidebar-email*/
    &-email {
        width: 40px;
        position: fixed;
        bottom: 0;
        left: auto;
        right: 66px;
        z-index: 12;
        color: var(--gris-med);

        &-ul {
            margin: 0;
            padding: 0;
            list-style: none;
        }

        &-ul::after {
            content: "";
            display: block;
            width: 1px;
            height: 90px;
            margin: 0 auto;
            background-color: var(--gris-med);
        }

        &-li {
            padding: 10px;
        }

        &-a {
            margin: 20px auto;
            font-family: var(--tipo-secundario);
            font-size: 12px;
            line-height: 18px;
            letter-spacing: .1em;
            writing-mode: vertical-rl;
        }

        &-a:hover {
            transform: translateY(-3px);
            color: var(--verde);
        }

        @include media(1200px) {
            right: 0px;
        }
    }
}