@import "_reset", '_mixins', 'hamburgers/hamburgers.scss';

/*Estilos Generales*/
body {

    &.scroll-down .Header {
        transform: translate3d(0, -100%, 0);
    }

    &.scroll-up .Header {
        transform: none;
    }

    &.scroll-up:not(.is-active) .Header {
        background: var(--azul-085);
        backdrop-filter: blur(10px);
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.35);
    }

    @include media(480px) {
        font-size: 18px;
    }
}

.block {
    filter: blur(5px) brightness(0.7);
    transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
    position: fixed;
}

.wrapper {
    width: 90%;
    // max-width: 75em;
    margin: auto;
}

.title-section {
    &-h2 {
        display: flex;
        align-items: center;
        position: relative;
        width: 100%;
        margin: 10px 0 40px;
        font-family: var(--tipo-secundario);
        font-size: clamp(26px, 5vw, 32px);
        font-weight: 600;
        color: var(--gris-light);
        line-height: 1.1em;
        white-space: nowrap;

        &::before {
            bottom: 4px;
            counter-increment: item 1;
            content: "0" counter(item) ".";
            margin-right: 10px;
            color: var(--verde);
            font-family: var(--tipo-secundario);
            font-size: clamp(16px, 3vw, 20px);
            font-weight: 400;

            @include media(480px) {
                margin-bottom: -3px;
                margin-right: 5px;
            }
        }

        &::after {
            content: "";
            display: block;
            top: -5px;
            width: 300px;
            height: 1px;
            margin-left: 20px;
            background-color: var(--azul-med);

            @include media() {
                width: 100%;
                margin-left: 10px;
            }

            @include media(1080px) {
                width: 200px;
            }
        }
    }
}

/*Header*/
.Header {
    display: inline-flex;
    position: fixed;
    top: 0;
    z-index: 11;
    width: 100%;
    height: 100px;
    background-color: var(--azul-085);
    backdrop-filter: blur(10px);
    font-family: var(--tipo-secundario);
    font-size: .8125rem; //13px
    transition: transform .8s;

    &-wrapper {
        @include flex(flex, row, wrap, space-between, center);

    }

    &-nav {

        @include flex(flex, row, nowrap, center, center);

        @include media() {
            display: none;
            order: 2;
            // width: 89%;

            &.is-active {
                display: flex;
                flex-direction: column;
                // justify-content: center;
                // align-items: center;
                position: fixed;
                z-index: 9;
                top: 0;
                bottom: 0;
                right: 0;
                width: min(75vw, 400px);
                height: 100vh;
                outline: 0;
                transform: translateX(0vw);
                //visibility: visible;
                transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
            }
        }
    }

    &-menu {
        display: none;
        order: 1;

        @include media() {
            display: block;
            z-index: 10;
        }
    }

    &-ul {
        @include flex(flex, row, nowrap, center, center);

        @include media() {
            flex-direction: column;
        }
    }

    &-li {

        counter-increment: section 1;
        margin: 0 .625rem;

        @include media() {
            margin: 1rem 0;
            font-size: 1.125em;
        }
    }

    &-link {
        color: var(--gris-med);
    }

    &-li a:hover {
        color: var(--verde);
    }

    &-li a::before {
        content: "0" counter(section) ".";
        color: var(--verde);
        margin-right: .3125em;
    }

    &-logo {
        max-width: 4rem;
    }

    &-extras {
        @include media() {
            margin: 2rem 0;
        }
    }

    &-btn {
        background-color: transparent;
        border: 1px solid var(--verde);
        border-radius: .25rem;
        padding: 0.75rem 1rem;
        line-height: 1;
        text-decoration: none;
        cursor: pointer;
        // transition: var(--transition);
        margin-left: .625rem;
        color: var(--verde);

        @include media() {
            font-size: 1.125em; //18px
            margin-left: 0;
        }
    }

    &-btn:hover {
        background-color: var(--verde-1);
        outline: none;
    }
}

/*General Section*/
.Main {
    &-section {}
}

/*Section Intro*/
.Intro {
    max-width: 1000px;
    min-height: 100vh;
    margin: 0 auto;
    padding: 100px 0;
    @include flex(flex, column, nowrap, center, center);

    @include media() {
        padding: 60px 0;
    }

    &-h1 {
        margin: 0 0 30px 4px;
        font-family: var(--tipo-secundario);
        font-size: clamp(14px, 5vw, 16px);
        //font-size: clamp(.875rem, 5vw, 1rem);
        font-weight: 400;
        line-height: 1.1em;
        color: var(--verde);
    }

    &-h2 {
        margin: 0;
        font-family: var(--tipo-principal);
        font-size: clamp(40px, 8vw, 80px);
        //font-size: clamp(6.66em, 8vw, 5em);
        font-weight: 600;
        line-height: 1.1em;
        color: var(--gris-light);
    }

    &-h3 {
        font-family: var(--tipo-principal);
        font-size: clamp(40px, 8vw, 80px);
        //font-size: 5rem;
        font-weight: 600;
        line-height: 1.1em;
        color: var(--gris-dark);
    }

    &-p {
        margin: 20px 0 0;
        max-width: 626px;
        font-family: var(--tipo-principal);
        font-size: 20px;
        font-weight: 400;
        line-height: 1.6em;
        color: var(--gris-dark);
    }
}

/*Section About*/
.About {
    max-width: 900px;
    margin: 0 auto;
    padding: 100px 0;

    @include media() {
        padding: 60px 0;
    }

    &-info {
        display: grid;
        grid-template-columns: 3fr 2fr;
        gap: 50px;

        @include media() {
            display: block;
        }
    }

    &-text-p {
        margin: 0 0 15px;

        &:last-of-type {
            margin: 0;
        }
    }

    &-skills {
        display: grid;
        grid-template-columns: repeat(2, minmax(140px, 200px));
        gap: 0 10px;
        padding: 0;
        margin: 20px 0 0;
        overflow: hidden;
        list-style: none;
    }

    &-skills-li {
        position: relative;
        margin-bottom: 10px;
        padding-left: 20px;
        font-family: var(--tipo-secundario);
        font-size: 13px;

        &::before {
            content: "▹";
            position: absolute;
            left: 0;
            color: var(--verde);
            font-size: 14px;
            line-height: 12px;
            box-sizing: inherit;
        }
    }

    &-image {
        position: relative;
        max-width: 300px;

        @include media() {
            margin: 50px auto 0;
            width: 70%;
        }
    }

    &-picture {
        width: 100%;
        position: relative;
        border-radius: 4px;
        background-color: var(--verde);
        box-shadow: 0 10px 30px -15px rgba(2, 12, 27, 0.7);

        &::after {
            width: 100%;
            height: 100%;
            border-radius: 4px;
            border: 2px solid var(--verde);
            top: 20px;
            left: 20px;
            z-index: -1;
            content: "";
            display: block;
            position: absolute;
            box-sizing: inherit;
        }
    }

    &-img {
        width: 100%;
        max-width: 100%;
        position: relative;
        border-radius: 4px;
        mix-blend-mode: multiply;

        &:hover {
            mix-blend-mode: normal;

        }
    }
}

/*Section Experience*/
.Experience {
    max-width: 700px;
    margin: 0 auto;
    min-height: 100vh;
    padding: 100px 0;

    @include media() {
        padding: 80px 0;
    }

    &-jobs {
        display: flex;

        @include media(700px) {
            min-height: 340px;
        }

        @include media() {
            display: block;
        }
    }

    &-tablist {
        position: relative;
        z-index: 3;
        width: max-content;
        padding: 0;
        margin: 0;
        list-style: none;

        @include media() {
            display: flex;
            overflow-x: auto;
            width: calc(100% + 100px);
            padding-left: 50px;
            margin-left: -50px;
            margin-bottom: 30px;
        }
    }

    &-tablink {
        text-decoration: none;
        text-decoration-skip-ink: auto;
        position: relative;
        display: flex;
        align-items: center;
        width: 100%;
        height: 42px;
        padding: 0 20px 2px;
        border-left: 2px solid var(--azul-med);
        background-color: transparent;
        color: var(--gris-dark);
        font-family: var(--tipo-secundario);
        font-size: 13px;
        text-align: left;
        white-space: nowrap;

        @include media() {
            @include flex(flex, row, nowrap, center, center);
            min-width: 120px;
            padding: 0 15px;
            border-left: 0;
            border-bottom: 2px solid var(--azul-med);
            text-align: center;
        }
    }

    &-tablink:hover,
    .active {
        background-color: var(--azul-dark);
        color: var(--verde);
        outline: 0;
    }

    &-tablink.active {
        border-left: 2px solid var(--verde);
    }

    &-tabcontent {
        position: relative;
        width: 100%;
        margin-left: 20px;

        @include media() {
            margin-left: 0;
        }
    }

    &-tabinfo {
        width: 100%;
        height: auto;
        padding: 10px 5px;
    }

    &-title {
        margin-bottom: 12px;
        color: var(--gris-light);
        font-size: 22px;
        font-weight: 500;

        span {
            color: var(--verde);
        }
    }

    &-data {
        margin-bottom: 25px;
        color: var(--gris-med);
        font-family: var(--tipo-secundario);
        font-size: 13px;
    }

    &-items {
        padding: 0px;
        margin: 0px;
        list-style: none;
        font-size: 16px;
    }

    &-item {
        position: relative;
        padding-left: 30px;
        margin-bottom: 10px;

        &::before {
            content: "▹";
            position: absolute;
            left: 0;
            color: var(--verde);
            box-sizing: inherit;
        }
    }
}


/*Section Projects*/
.Projects {
    background-color: lightgrey;

    &-h2 {}

    &-wrapper {}
}

/*Section Contact*/
.Contact {
    background-color: lightgrey;

    &-h2 {}

    &-wrapper {}
}

/*Footer*/
.Footer {
    &-wrapper {
        @include flex(flex, column, nowrap, center, center);
        height: auto;
        min-height: 70px;
        padding: 15px;
        text-align: center;
    }

    /*Footer-rrss*/
    &-rrss {
        display: none;

        &-ul {
            @include flex(flex, row, wrap, space-between, center);
            padding: 0;
            margin: 0;
            list-style: none;
        }

        &-a {
            padding: 10px;
        }

        &-svg {
            width: 20px;
            height: 20px;
            fill: none;
        }

        @include media() {
            display: block;
            width: 100%;
            max-width: 200px;
            margin: 0 auto 10px;
            color: var(--gris-med);
        }
    }

    /*Footer-credit*/
    &-credit {
        color: var(--gris-med);
        font-family: var(--tipo-secundario);
        font-size: 12px;
        line-height: 1;
        padding: 10px;

        &-a:last-of-type {
            margin-top: 10px;
        }
    }
}

/*Sidebar*/
.Sidebar {
    &-wrapper {
        @include flex(flex, column, nowrap, center, center);
    }

    @include media() {
        display: none;
    }

    /*Sidebar-rrss*/
    &-rrss {
        width: 40px;
        position: fixed;
        bottom: 0;
        left: 66px;
        right: auto;
        z-index: 12;
        color: var(--gris-med);

        &-ul {
            margin: 0;
            padding: 0;
            list-style: none;
        }

        &-ul::after {
            content: "";
            display: block;
            width: 1px;
            height: 90px;
            margin: 0 auto;
            background-color: var(--gris-med);
        }

        &-li {
            padding: 10px;
        }

        &-li:last-of-type {
            margin-bottom: 20px;
        }

        &-svg {
            width: 20px;
            height: 20px;
            fill: none;
            vertical-align: middle;
        }

        &-a:hover {
            transform: translateY(-3px);
            color: var(--verde);
        }

        @include media(1200px) {
            left: 0px;
        }
    }

    /*Sidebar-email*/
    &-email {
        width: 40px;
        position: fixed;
        bottom: 0;
        left: auto;
        right: 66px;
        z-index: 12;
        color: var(--gris-med);

        &-ul {
            margin: 0;
            padding: 0;
            list-style: none;
        }

        &-ul::after {
            content: "";
            display: block;
            width: 1px;
            height: 90px;
            margin: 0 auto;
            background-color: var(--gris-med);
        }

        &-li {
            padding: 10px;
        }

        &-a {
            margin: 20px auto;
            font-family: var(--tipo-secundario);
            font-size: 12px;
            line-height: 18px;
            letter-spacing: .1em;
            writing-mode: vertical-rl;
        }

        &-a:hover {
            transform: translateY(-3px);
            color: var(--verde);
        }

        @include media(1200px) {
            right: 0px;
        }
    }
}